{% extends "base.html" %}
{% block content %}

<h1>Sign Up</h1>
<section class="centerScreenSection">
    <div >
        <div >
            <form action="#" method="post" class="cardCenter">
                {% csrf_token %}
                {{form}}
                <div >
                    <label >
                        <input type="checkbox" class="checkbox" required="">
                        <span>I agree to the Terms and Conditions</span>
                    </label>
                    <div class="clear"> </div>
                </div>
                <input type="submit" value="SIGN UP">
            </form>
            
            {% for message in messages %}
                <p id="messages">{{message}}</p>
            {% endfor %}

            <p> Already have an account? <a href="{% url 'user:login' %}" style="color: #ff9416;"> Sign in!</a></p>
        </div>
    </div>
</section>

{% endblock %}