    
    
    {% for item in domSellList %}

        {% if item.quantity >= item.calc and maxQuantity > 0.00 %}
            <div class="value sell" style="width: calc(98% * ({{item.quantity}}/{{maxQuantity}})); min-width: 50px">
                <div class="pContainer" >
                    <p>{{item.quantity|stringformat:".2f"}}</p>
                    <h4>{{item.value|stringformat:".0f"}}</h4>
                </div>
            </div>
        {% else %}
        <div class="value sell">
            <div class="pContainer" style="width: 50px;">
                <h4>{{item.value|stringformat:".0f"}}</h4>
            </div>
        </div>
        {% endif %}

    {% endfor %}
    
    <div class="actual value">
        <h4>{{currency|stringformat:".0f"}}</h4>
    </div>
    
    {% for item in domBuyList %}
        {% if item.quantity >= item.calc and maxQuantity > 0.00 %}
            <div class="value buy" style="width: calc(98% * ({{item.quantity}}/{{maxQuantity}})); min-width: 50px">
                <div class="pContainer">
                    <p>{{item.quantity|stringformat:".2f"}}</p>
                    <h4>{{item.value|stringformat:".0f"}}</h4>
                </div>
            </div>
        {% else %}
            <div class="value buy" style="width: 50px;">
                <div class="pContainer">
                    <h4>{{item.value|stringformat:".0f"}}</h4>
                </div>
            </div>
        {% endif %}
    {% endfor %}